{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<main class="p-3">

<div class="card p-3">
<p id="test">Hello world!</p>
</div>

<div class="card p-3 mt-2 q">
    <div>Hello!</div>
    <div>Hello!</div>
    <div>Hello!</div>
    <div>Hello!</div>
</div>

</main>





{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}
