 <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
    
    <button type="button" class="btn btn-primary">Купити</button>
</div>

<section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h3>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h3>
    
    <button type="button" class="btn btn-primary">Купити</button>
</section>


<div class="card p-3 m-3 cart-dark">
<ul>
    <li class="item" >1</li>
    <li class="item">2</li>
    <li class="item">3</li>
    <li class="item">4</li>
    <li class="item">5</li>
    <li class="item">6</li>
    <li class="item">7</li>
</ul>
</div>

<div class="card p-3 m-3 tesst">
    <ul>
        <li class="test">Test</li>
    </ul>a
</div>

<div class="card p-3 m-3 vv">
    <b class="v">V1</b>
    <p class="v">V2</p>
    <b class="v">V3</b>
    <p class="v">V4</p>
</div>

<div class="card p-3 m-3 zz">
    <b class="z">V1</b>
</div>

<div class="card p-3 m-3 ww">
<ul>
    <p class="w">header</p>
    <li class="w">1</li>
    <li class="w">2</li>
    <li class="w">3</li>
    <li class="w">4</li>
    <p class="w">footer</p>
</ul>
</div>

<div class="card p-3 m-3 tt">
    <p>cool</p>
    <p class="t">good</p>
    <p class="t"></p>
</div>

<div class="card p-3 m-3 card-darkk">
    <input required class="a">
    <input class="a" type="number"> 
</div>

<div class="card p-3 m-3 card-red">
    <img alt="image small card 100px" class="q" src="https://picsum.photos/200/300" height="100px">
    <br>
    <div class="q" rel="rr-cool">link</div>

    <div class="q" rel="cool-rrr">link</div>

    <div class="q" rel="cool-rrrr-cool">link</div>

    <div class="q" rel="cool-rrrr-vvv">link</div>
</div>

<div class="card p-3 m-3 card-blue">
    <div class="b" type="text">texttt</div>
</div>

<div class="card p-3 m-3 card-title">
    <p class="g">my name is anua. my life uk.</p>
    <input placeholder="bla-bla-bla" class="gg">
    <input class="ggg">
</div>

<div class="card p-3 m-3 card-1">
    <a href="#test">Click me</a>
</div>
<div id="test" class="card p-3 m-3 card-1">
    yakir
</div>
<div class="card p-3 m-3 card-1">
    <a class="link" href="https://www.googlejj.com.ua/?hl=ru">Click me</a>
</div>
<div class="card p-3 m-3 card-1">
    <a class="link" href="https://www.google.com.ua/?hl=ru">Click me</a>
</div>
<div class="card p-3 m-3 card-1">
    <a class="link" href="#">Click me</a>
</div>
<div class="card p-3 m-3 card-2">
    <input>
</div>
<div class="card p-3 m-3 card-1">
    <p lang="en">Heloo! <span></span> </p>
    <p lang="fr">Bonjour!</p>
</div>
<div class="p-3 m-3 card-1">
    <button>Button1</button>
    <button disabled>Disabled Button2</button>
</div>
<div class="p-3 m-3 card-1">
    <input class="inp">
    <input class="inp" readonly>
</div>
<div class="p-3 m-3 card-1">
    <div>
        <input type="checkbox" checked>
        <span>First checkbox</span>
    </div>
    <div>
        <input type="checkbox">
        <span>Second checkbox</span>
    </div>
</div>
<div class="p-3 m-3 card-1">
    <input type="email" required class="valid">
</div>
<div class="p-3 m-3 card-1">
    <input type="email" required class="valide">
</div>
<div class="p-3 m-3 card-1">
    <input type="email" class="validee">
</div>
<div class="p-3 m-3 card-1">
    <input type="number" min="1" max="3" class="valit">
</div>
<div class="p-3 m-3 card-1">
    <input placeholder class="valiv">
    <span>text</span>
</div>