<div class="card">
    <img src="{{photo}}" class="card_img">
    <div class="card_name">{{name}}</div>
    <p class="card_text">{{description}}</p>
    <a href="#" class="card_button">Read All</a>
</div>